@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dune";
  src: url("/fonts/Dune_Rise.ttf") format("truetype");
  font-weight: normal; /* Normal weight */
  font-style: normal;
}

:root {
  --background: #ffffff;
}

.rotateX-90 {
  transform: rotate(90deg);
}

.rotateX-180 {
  transform: rotateX(180deg);
}

.leaflet-popup-content-wrapper {
  background-color: transparent !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  min-height: auto !important;
  width: auto !important;
}

.bg-paper-custom {
  background: url("/images/bg/paper.png");
}

.qr-wrapper svg,
.qr-wrapper canvas {
  width: 100%;
  height: auto;
  max-width: 300px;
}
