@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dune";
  src: url("/fonts/Dune_Rise.ttf") format("truetype");
  font-weight: normal; /* Normal weight */
  font-style: normal;
}

:root {
  --background: #ffffff;
}

.rotateX-180 {
  transform: rotate(90deg);
}
